<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tsone.graphqlsample.mapper.AuthorMapper">
    <select id="getById" parameterType="String" resultType="com.tsone.graphqlsample.types.Author">
        select * from Author where id = #{id}
    </select>

    <insert id="registerAuthor" parameterType="com.tsone.graphqlsample.types.Author">
        insert into Author (id, last_name, first_name)
        values (#{id}, #{lastName}, #{firstName})
    </insert>
</mapper>